@import "mixins.scss";
@import "mediaqueries.scss";
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

@font-face {
  font-family: 'Icons';
  src: url('../../fonts/icomoon.ttf') format('truetype'),
       url('../../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.container{
  background-color: #eaeaea;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 1em;
  .icon{
    font-family: "Icons";
  }
}

.nav-block{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 24px;
  margin-left: 11%;
  width: 300px;
  background: white;
  @include box-sizing(border-box);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  overflow-y: scroll;
  @include transition(all, .2s, linear);
  font-size: 2.5em;
  color: #888;
  line-height: 1.4em;
  .nav-block-inner{
    .nav-block-content{
      font-family: 'Cabin Condensed';
      .main-profile-img{
        width: 100%;
        margin: 0px 0px;
        border-radius: 4px 4px 0 0;
      }
      .main-my-name{
        padding: 30px;
      }
      .main-nav-list{
        .list-item{
          cursor: pointer;
          div{
            font-size: 0.80em;
            line-height: 1.6em;
            height: 54px;
          }
          &.home{
            .main-icons{
              background-color: #b3c833;
            }
            &:hover, &.active{
              div{
                background-color: #b3c833;
                .main-nav-text{
                  color: #fff;
                }
              }
            }
          }
          &.about{
            .main-icons{
              background-color: #ce5043;
            }
            &:hover, &.active{
              div{
                background-color: #ce5043;
                .main-nav-text{
                  color: #fff;
                }
              }
            }
          }
          &.work{
            .main-icons{
              background-color: #fb8521;
            }
            &:hover, &.active{
              div{
                background-color: #fb8521;
                .main-nav-text{
                  color: #fff;
                }
              }
            }
          }
          &.labs{
            .main-icons{
              background-color: #1aa1e1;
            }
            &:hover, &.active{
              div{
                background-color: #1aa1e1;
                .main-nav-text{
                  color: #fff;
                }
              }
            }
          }
          &.contact{
            .main-icons{
              background-color: #5e5ca6;
            }
            &:hover, &.active{
              div{
                background-color: #5e5ca6;
                .main-nav-text{
                  color: #fff;
                }
              }
            }
          }
          &.blog{
            .main-icons{
              background-color: #658092;
            }
            &:hover, &.active{
              div{
                background-color: #658092;
                .main-nav-text{
                  color: #fff;
                }
              }
            }
          }
          .main-icons{
            display: inline-block;
            height: 54px;
            width: 18%;
            text-align: center;
            color: #fff;
            font-size: 0.9em;
          }
          .main-nav-text{
            padding: 0 0 0 20px;
            font-family: 'Roboto';
            font-size: 0.75em;
            color: #555;
          }
        }
      }
    }
  }
}

.body-block{
  margin: 24px;
  margin-left: 11%;
  padding-left: 330px;
  @include transition(all, .3s, linear);
}

.body-block-content{
  position: relative;
  display: inline-block;
  padding: 40px;
  max-width: 660px;
  min-height: 1700px;
  background-color: #fff;
  @include box-sizing(border-box);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.aside-block{
  display: inline-block;
  position: absolute;
  top: 24px;
  min-width: 300px;
  max-width: 300px;
  min-height: 600px;
  padding-left: 24px;
  @include box-sizing(border-box);
  background-color: #ccc;
}

.imprima{
  font-family: 'Imprima';
  line-height: 1.8em;
  font-size: 1.2em;
  color: #444;
}
.oxygen{
  font-family: 'Oxygen';
  line-height: 1.8em;
  font-size: 1.2em;
  color: #444;
}
.raleway{
  font-family: 'Raleway';
  line-height: 1.8em;
  font-size: 1.2em;
  color: #444;
}

.imprima b, .oxygen b, .raleway b{
  font-family: 'Oxygen';
  font-weight: bold;
  color: #000;
}

.heading1{
  font-family: 'Cantora One';
  font-size: 2em;
}
.heading2{
  font-family: 'Roboto Condensed';
  font-size: 2em;
}
.heading3{
  font-family: 'Magra';
  font-size: 2em;
}