@import "mixins.scss";
@import "mediaqueries.scss";

.container{
  background-color: #eaeaea;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 1em;
}

.nav-block{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 24px;
  margin-left: 11%;
  width: 300px;
  background: white;
  
  @include box-sizing(border-box);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  @include transition(all, .3s, linear);
  font-size: 2.5em;
  color: #888;
  line-height: 1.4em;
  .nav-block-inner{
    padding: 18px;
    .nav-block-content{

    }
  }
}

.body-block{
  margin: 24px;
  margin-left: 11%;
  padding-left: 330px;
  @include transition(all, .3s, linear);
}

.body-block-content{
  position: relative;
  display: inline-block;
  padding: 40px;
  max-width: 700px;
  min-height: 1700px;
  background-color: #fff;
  @include box-sizing(border-box);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.aside-block{
  display: inline-block;
  position: absolute;
  top: 24px;
  min-width: 300px;
  max-width: 300px;
  min-height: 600px;
  padding-left: 24px;
  @include box-sizing(border-box);
}

