<div class="body-nav connect"><div>&#xe06d;</div></div>
<div class="body-inner">
	<h1 class="page-title connect">Connect</h1>
	<div class="location clearfix">
		<div class="map-desc">
			<h1>Current Location:</h1>
			<span>Bangalore, Karnataka, India.</span>
		</div>
		<div class="map">
			<a href="https://www.google.com/maps/preview#!q=Bangalore%2C+Karnataka%2C+India&data=!4m10!1m9!4m8!1m3!1d30734180!2d-95.677068!3d37.0625!3m2!1i1919!2i905!4f13.1" target="_new">
				<div class="map-pointer"><div></div></div>
				<img src="../images/map.png">
			</a>
		</div>
	</div>
	<div class="mail-skype-heading">Reach out through gmail / skype</div>
	<div class="mail-skype clearfix">
		<a href="mailto:althamash.b@gmail.com" class="gmail"><span></span>althamash . b@gmail . com</a>
		<a href="skype:TheViralPhoenix?chat" class="skype">TheViralPhoenix &nbsp;&nbsp;<span class='icon'>&#xe19d;</span></a>
	</div>
	<div class="myworks-heading">Checkout some of my works at</div>
	<div class="myworks">
		<a href="http://codepen.io/althamash" target="_new" class="codepen">Codepen</a>
		<a href="https://github.com/Althamash" target="_new" class="github"><span class="icon">&#xe189;</span>&nbsp;Github</a>
		<a href="https://bitbucket.org/Althamash" target="_new" class="bitbucket">Bitbucket</a>
	</div>
	<div class="social-heading">Social</div>
	<div class="social">
		<a href="" target="_new" class="icon fb">&#xe16a;</a>
		<a href="" target="_new" class="icon tr">&#xe16e;</a>
		<a href="https://plus.google.com/u/0/111707375852188962759/posts" target="_new" class="icon gp">&#xe166;</a>
		<a href="http://in.linkedin.com/pub/althamash-b/49/179/833/" target="_new" class="icon in">&#xe19f;</a>
	</div>
</div>