<div class="body-nav work"><div>&#xe0a6;</div></div>
<div class="body-inner">
	<!-- This is the work section!! -->
	<!-- 
	<div class="chart-line one"></div>
	<div class="chart-line two"></div>
	<div class="chart-line three"></div>
	<div class="chart-line four"></div>
	<div class="chart-line five"></div>
	<div class="chart-line six"></div>
	<div class="chart-line seven"></div>
	<div class="chart-line eight"></div>
	<div class="chart-line nine"></div>
	<div class="chart-line ten"></div> -->

	<header class="work-header">
		<h1 class="page-title work">Work</h1>
		<p>I am a <b>Front-End Web developer</b> who specializes mainly in HTML, CSS and Javascript. I have worked with a bunch of libraries and tools like Jquery, Bootstrap etc., </p>
	</header>
	<div class="graph-container">
		<div class="language-graph" ng-init="langGraph()">
			<div class="graph-heading">Experience</div>
			<div class="bar html" ng-class="{full: langGraphLoaded}"></div>
			<div class="bar css" ng-class="{full: langGraphLoaded}"></div>
			<div class="bar js" ng-class="{full: langGraphLoaded}"></div>
			
			<div class="left-bar">
				<div class="years">1 yr</div>
				<div class="years">6 mths</div>
			</div>
			<div class="bottom-bar">
				<div class="languages html">HTML5</div>
				<div class="languages css">CSS3</div>
				<div class="languages js">Javascript</div>
			</div>
		</div>

		<div class="other-graph" init-graph>
			<div class="graph-heading">Familiarity</div>
			<div class="top-bar">
				<div class="percentage">0%</div>
				<div class="percentage">20%</div>
				<div class="percentage">40%</div>
				<div class="percentage">60%</div>
				<div class="percentage">80%</div>
				<div class="percentage">100%</div>
			</div>
			<div class="left-bar">
				<div class="ltf">AngularJs</div>
				<div class="ltf">Bootstrap</div>
				<div class="ltf">GruntJs</div>
				<div class="ltf">Jade</div>
				<div class="ltf">Jquery</div>
				<div class="ltf">Less</div>
				<div class="ltf">Modernizer</div>
				<div class="ltf">Sass</div>
			</div>
			<div class="bar angular one" ng-class="{full: otherGraphLoaded}"></div>
			<div class="bar bootstrap two" ng-class="{full: otherGraphLoaded}"></div>
			<div class="bar grunt three" ng-class="{full: otherGraphLoaded}"></div>
			<div class="bar jade four" ng-class="{full: otherGraphLoaded}"></div>
			<div class="bar jquery five" ng-class="{full: otherGraphLoaded}"></div>
			<div class="bar less six" ng-class="{full: otherGraphLoaded}"></div>
			<div class="bar modernizer seven" ng-class="{full: otherGraphLoaded}"></div>
			<div class="bar sass eight" ng-class="{full: otherGraphLoaded}"></div>
		</div>
	</div>


	<!-- <div class="divider"></div> -->

	<div class="company">
		<img class="company-logo" src="../../images/sourcebits_logo_smaller.png">
		<span class="company-name">SOURCEBITS</span><span class="service-date"> (OCT.2012 to Till Date)</span>
		<blockquote>I am Currently employed in Sourcebits Technologies pvt ltd. as a Front-End Web Developer. I have completed 2 projects where I was a part of the Front-End Team and worked in HTML, CSS and Javascript. I was part of 2 other projects that required assistance in Front-End technologies. I was also a part of an Internal Project we developed at Sourcebits.!!</blockquote>
	</div>

	<div class="resume">
		<div class="resume-icon">_ _ _</div>
		<span class="my-resume">My Resume</span>
		<div class="vd">
			(<span class="view"> View</span>
			<span>|</span>
			<span class="download">Download </span>)
		</div>
		
	</div>

</div>

