<div class="body-nav work"><div>&#xe0a6;</div></div>
<!-- This is the work section!! -->
<!-- 
<div class="chart-line one"></div>
<div class="chart-line two"></div>
<div class="chart-line three"></div>
<div class="chart-line four"></div>
<div class="chart-line five"></div>
<div class="chart-line six"></div>
<div class="chart-line seven"></div>
<div class="chart-line eight"></div>
<div class="chart-line nine"></div>
<div class="chart-line ten"></div> -->

<header class="work-header">
	<p><big>I</big>  am a Front-End Web developer who specializes mainly in HTML, CSS and Javascript. I have worked with a bunch of libraries and tools like Jquery, Grunt etc., </p>
</header>
<div class="language-graph" ng-init="langGraph()">
	<div class="graph-heading">Experience</div>
	<div class="bar html" ng-class="{full: loaded}"></div>
	<div class="bar css" ng-class="{full: loaded}"></div>
	<div class="bar js" ng-class="{full: loaded}"></div>
	
	<div class="left-bar">
		<div class="years">1 yr</div>
		<div class="years">6 mths</div>
	</div>
	<div class="bottom-bar">
		<div class="languages html">HTML5</div>
		<div class="languages css">CSS3</div>
		<div class="languages js">Javascript</div>
	</div>
</div>

<div class="other-graph">
	<div class="graph-heading">Familiarity</div>
	<div class="top-bar">
		<div class="percentage">0%</div>
		<div class="percentage">20%</div>
		<div class="percentage">40%</div>
		<div class="percentage">60%</div>
		<div class="percentage">80%</div>
		<div class="percentage">100%</div>
	</div>
	<div class="left-bar">
		<div class="ltf">Bootstrap</div>
		<div class="ltf">Jquery</div>
		<div class="ltf">AngularJS</div>
		<div class="ltf">Grunt</div>
	</div>
	<div class="bar one"></div>
	<div class="bar two"></div>
	<div class="bar three"></div>
	<div class="bar four"></div>
</div>

<div class="divider"></div>

<div class="company">
	<img class="company-logo" src="../../images/sourcebits_logo_smaller.png">
	<span class="company-name">SOURCEBITS</span><span class="service-date"> (OCT.2012 to Till Date)</span>
	<blockquote>I am Currently employed in Sourcebits Technologies pvt ltd. as a Front-End Web Developer. I have completed 2 projects where I was a part of the Front-End Team and worked in HTML, CSS and Javascript. I was part of 2 other projects that required assistance in Front-End technologies. I was also a part of an Internal Project we developed at Sourcebits.!!</blockquote>
</div>

<div class="resume">
	<span>My Resume</span>
</div>

