@font-face {
  font-family: 'Icons';
  src: url("../../fonts/icomoon.ttf") format("truetype"), url("../../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*-------------------------------------------------
LAYOUT: MAIN NAVIGATION
-------------------------------------------------*/

.nav-block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 24px;
  margin-left: 11%;
  width: 280px;
  color: #888;
  line-height: 3.4em;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 99;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav-block .nav-block-content .main-profile-img {
  width: 100%;
  margin: 0px 0px;
  border-radius: 4px 4px 0 0;
}

.nav-block .nav-block-content .main-my-name {
  font-family: 'Cabin Condensed';
  padding: 30px;
  font-size: 2.6em;
  text-align: center;
}

/* Main Navigation */

.nav-block .nav-block-content .main-nav-list{
  transition: height .5s ease;
  -webkit-transition: height .5s ease;
  -moz-transition: height .5s ease;
  -o-transition: height .5s ease;
  -ms-transition: height .5s ease;
  height: 324px;
}
.nav-block .nav-block-content .main-nav-list.shrink{
  height: 0px;
}

.nav-block .nav-block-content .main-nav-list .list-item {
  cursor: pointer;
  max-height: 54px;
}

.main-nav-list .list-item div {
  font-size: 1.8em;
  height: 54px;
}

.main-nav-list .list-item.home .main-icons {
  background-color: #b3c833;
}

.main-nav-list .list-item.home:hover div, .main-nav-list .list-item.home.active div {
  background-color: #b3c833;
}

.main-nav-list .list-item.home:hover div .main-nav-text, .main-nav-list .list-item.home.active div .main-nav-text {
  color: #fff;
}

.main-nav-list .list-item.about .main-icons {
  background-color: #ce5043;
}

.main-nav-list .list-item.about:hover div, .main-nav-list .list-item.about.active div {
  background-color: #ce5043;
}

.main-nav-list .list-item.about:hover div .main-nav-text, .main-nav-list .list-item.about.active div .main-nav-text {
  color: #fff;
}

.main-nav-list .list-item.work .main-icons {
  background-color: #fb8521;
}

.main-nav-list .list-item.work:hover div, .main-nav-list .list-item.work.active div {
  background-color: #fb8521;
}

.main-nav-list .list-item.work:hover div .main-nav-text, .main-nav-list .list-item.work.active div .main-nav-text {
  color: #fff;
}

.main-nav-list .list-item.labs .main-icons {
  background-color: #1aa1e1;
}

.main-nav-list .list-item.labs:hover div, .main-nav-list .list-item.labs.active div {
  background-color: #1aa1e1;
}

.main-nav-list .list-item.labs:hover div .main-nav-text, .main-nav-list .list-item.labs.active div .main-nav-text {
  color: #fff;
}

.main-nav-list .list-item.connect .main-icons {
  background-color: #5e5ca6;
}

.main-nav-list .list-item.connect:hover div, .nav-block .main-nav-list .list-item.connect.active div {
  background-color: #5e5ca6;
}

.main-nav-list .list-item.connect:hover div .main-nav-text, .main-nav-list .list-item.connect.active div .main-nav-text {
  color: #fff;
}

.main-nav-list .list-item.blog .main-icons {
  background-color: #658092;
}

.main-nav-list .list-item.blog:hover div, .main-nav-list .list-item.blog.active div {
  background-color: #658092;
}

.main-nav-list .list-item.blog:hover div .main-nav-text, .main-nav-list .list-item.blog.active div .main-nav-text {
  color: #fff;
}

.main-nav-list .list-item .main-icons {
  display: inline-block;
  height: 54px;
  width: 18%;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
}

.main-nav-list .list-item .main-nav-text {
  padding: 0 0 0 20px;
  font-family: 'Roboto';
  font-size: 0.75em;
  color: #555;
}

/* Main Navigation Small*/

.nav-block .nav-block-content .main-nav-list.small{
  background-color: #EAEAEA;
}
.main-nav-list.small .list-item .main-icons{
  background-color: #EAEAEA;
  color: #999;
  text-shadow: 0 -1px rgba(0,0,0,0.9);
}

.main-nav-list.small .list-item:active .main-icons{
  background-color: #fff;
}

.main-nav-list.small li.list-item.home:active div, .main-nav-list.small li.list-item.about:active div, .main-nav-list.small li.list-item.work:active div, .main-nav-list.small li.list-item.labs:active div, .main-nav-list.small li.list-item.connect:active div, .main-nav-list.small li.list-item.blog:active div{
  background-color: #fff;
}

.main-nav-list.small .list-item.home.active .main-icons, .main-nav-list.small .list-item.home.active .main-nav-text{
  color: #b3c833;
}
.main-nav-list.small .list-item.about.active .main-icons, .main-nav-list.small .list-item.about.active .main-nav-text{
  color: #ce5043;
}
.main-nav-list.small .list-item.work.active .main-icons, .main-nav-list.small .list-item.work.active .main-nav-text{
  color: #fb8521;
}
.main-nav-list.small .list-item.labs.active .main-icons, .main-nav-list.small .list-item.labs.active .main-nav-text{
  color: #1aa1e1;
}
.main-nav-list.small .list-item.connect.active .main-icons, .main-nav-list.small .list-item.connect.active .main-nav-text{
  color: #5e5ca6;
}
.main-nav-list.small .list-item.blog.active .main-icons, .main-nav-list.small .list-item.blog.active .main-nav-text{
  color: #658092;
}



.main-nav-list.small .list-item.home.active div, .main-nav-list.small .list-item.about.active div, .main-nav-list.small .list-item.work.active div, .main-nav-list.small .list-item.labs.active div, .main-nav-list.small .list-item.connect.active div, .main-nav-list.small .list-item.blog.active div, .main-nav-list.small .list-item.home:hover div, .main-nav-list.small .list-item.about:hover div, .main-nav-list.small .list-item.work:hover div, .main-nav-list.small .list-item.labs:hover div, .main-nav-list.small .list-item.connect:hover div, .main-nav-list.small .list-item.blog:hover div{
  background-color: transparent;
}

.main-nav-list.small .list-item.active div .main-nav-text, .main-nav-list.small .list-item:hover div .main-nav-text {
  color: #555;
}

.nav-block .nav-quotes{
  margin: 28px 0 0 0;
  padding: 18px;
}

.nav-block .nav-quotes blockquote{
  font-size: 1.2em;
  line-height: 1.8em;
}

.nav-block .nav-quotes h3{
  text-align: right;
  font-size: 1.2em;
  line-height: 1em;
}

.body-block {
  margin: 24px;
  margin-left: 11%;
  padding-left: 300px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow: hidden;
}

.body-inner{
  padding: 20px 0;
}

.body-block-content {
  display: inline-block;
  padding: 0px 20px 20px 20px;
  font-size: 18px;
  max-width: 730px;
  width: 730px;
  min-width: 440px;
  min-height: 170px;
  background-color: #fff;
/*  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;*/
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.aside-block {
  /*display: inline-block;*/
  display: none;
  vertical-align: top;
  min-width: 240px;
  max-width: 240px;
  min-height: 600px;
  padding: 10px;
  margin-left: 10px;
/*  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;*/
  background-color: #ccc;
}



/*-------------------------------------------------
LAYOUT: HOME PAGE
-------------------------------------------------*/
/*#96AC00 */

.home-content{
  padding-left: 30px;
  font-size: 1.2em;
  font-weight: bold;
}

.hello{
  font-family: 'Oxygen';
  font-size: 1.5em;
  margin: 50px 0 30px 0;
}

.my-pic{
  float: right;
}

.my-name{
  font-size: 3em;
  line-height: 1.4em;
  width: 70%;
  text-align: left;
  color: #96AC00;
  text-shadow: 0 -2px rgba(0,0,0,0.6);
  margin: 30px 0;
}

/*-------------------------------------------------
LAYOUT: WORK PAGE
-------------------------------------------------*/

.work-header{
  margin-bottom: 40px;
}

.work-header p {
  text-indent: 3em;
  line-height: 2em;
  padding-right: 50px;
}
.graph-container{
  background-color:#f4f4f4;
  background-image: linear-gradient(rgba(255,255,255,.2) 2px, transparent 2px),
  linear-gradient(90deg, rgba(255,255,255,.2) 2px, transparent 2px);
  background-size:20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px;
  background-repeat: repeat;
  box-shadow: inset 0 0 20px -6px rgba(0, 0, 0, 0.3);
  padding: 30px 0;
}
.language-graph{
  position: relative;
  min-height: 500px;

  /*background-color:#f4f4f4;
  background-image: linear-gradient(rgba(255,255,255,.2) 2px, transparent 2px),
  linear-gradient(90deg, rgba(255,255,255,.2) 2px, transparent 2px);
  background-size:20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px;
  background-repeat: repeat;
  box-shadow: inset 0 0 20px -6px rgba(0, 0, 0, 0.3);*/
}
.language-graph .graph-heading{
  position: relative;
  width: 200px;
  height: 40px;
  background-color: #7a9b29;
  top: 12px;
  left: 0px;
  color: #FFF;
  font-size: 1.4em;
  line-height: 2em;
  text-indent: 18px;
}
.language-graph .graph-heading:before{
  content: '';
  position: absolute;
  right: -25px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid #7a9b29;
}
.language-graph .graph-heading:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 225px;
  height: 14px;
  background-color: #87ab30;
}
.language-graph .left-bar{
  position: absolute;
  top: 80px;
  left: 10px;
  width: 66px;
  height: 73%;
  border-right: 6px solid #87ab30;
}
.language-graph .left-bar .years{
  color: #87ab30;
  display: inline-block;
  line-height: 8em;
}
.language-graph .bottom-bar{
  position: absolute;
  bottom: 10px;
  left: 76px;
  width: 80%;
  height: 40px;
  /*background-color: #87ab30;*/
  border-top: 4px dashed rgba(0,0,0,0.2);
}
.language-graph .bottom-bar .languages{
  display: inline-block;
  width: 32%;
  text-align: center;
  line-height: 2em;
}
.language-graph .bottom-bar .languages.html{
  color: #bf701d;
}
.language-graph .bottom-bar .languages.css{
  color: #348ca9;
}
.language-graph .bottom-bar .languages.js{
  color: #c5a721;
}
.language-graph .bar{
  position: absolute;
  bottom: 56px;
  width: 50px;
  height: 5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 1;
}
.language-graph .bar.html{
  left: 20%;
  background-color: #bf701d;
}
.language-graph .bar.css{
  left: 47%;
  background-color: #348ca9;
}
.language-graph .bar.js{
  left: 74%;
  background-color: #c5a721;
}
.language-graph .bar.html.full{
  height: 260px;
}
.language-graph .bar.css.full{
  height: 300px;
}
.language-graph .bar.js.full{
  height: 280px;
}

.other-graph{
  position: relative;
  min-height: 600px;
  /*background-color:#f4f4f4;
  background-image: linear-gradient(rgba(255,255,255,.2) 2px, transparent 2px),
  linear-gradient(90deg, rgba(255,255,255,.2) 2px, transparent 2px);
  background-size:20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px;
  background-repeat: repeat;*/
  /*margin-top: 40px;*/
  /*box-shadow: inset 0 0 20px -6px rgba(0, 0, 0, 0.3);*/
}
.other-graph .graph-heading{
  position: relative;
  width: 200px;
  height: 40px;
  background-color: #7a9b29;
  top: 12px;
  left: 0px;
  color: #FFF;
  font-size: 1.4em;
  line-height: 2em;
  text-indent: 18px;
}
.other-graph .graph-heading:before{
  content: '';
  position: absolute;
  right: -25px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid #7a9b29;
}
.other-graph .graph-heading:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 225px;
  height: 14px;
  background-color: #87ab30;
}
.other-graph .left-bar{
  position: absolute;
  top: 120px;
  left: 10px;
  width: 100px;
  height: 79%;
  border-right: 6px solid #87ab30;
  line-height: 2.8em;
}
.other-graph .left-bar .ltf:first-child{
  margin-top: 40px;
}
.other-graph .left-bar .ltf{
  width: 90px;
  color: #444;
  display: inline-block;
  text-align: right;
}
.other-graph .top-bar{
  position: absolute;
  top: 90px;
  left: 96px;
  width: 76%;
  height: 40px;
  background-color: transparent;
  background-image: linear-gradient(rgba(0,0,0,.5) 2px, transparent 2px),
  linear-gradient(90deg, rgba(0,0,0,.5) 2px, transparent 2px);
  background-size:20px 20px, 20px 20px;
  background-position:-2px -2px, -2px 30px;
  background-repeat: repeat-x;
}
.other-graph .top-bar .percentage{
  width: 15.4%;
  display: inline-block;
  text-align: center;
  color: #87ab30;
}
.other-graph .bar{
  position: absolute;
  left: 116px;
  width: 1%;
  height: 20px;
  border-radius: 0 4px 4px 0;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.other-graph .bar:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 40%;
  top: 2px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 0 4px 4px 0;
}
/* 
Bootstrap = #573D7D;
Jquery = #05568D;
Angular = #A6100D;
Grunt = #E48632;
*/
.other-graph .bar.angular{
  background-color: #A6100D;
}
.other-graph .bar.bootstrap{
  background-color: #573D7D;
}
.other-graph .bar.grunt{
  background-color: #E48632;
}
.other-graph .bar.jade{
  background-color: #87c769;
}
.other-graph .bar.jquery{
  background-color: #05568D;
}
.other-graph .bar.less{
  background-color: #2c5188;
}
.other-graph .bar.modernizer{
  background-color: #d81976;
}
.other-graph .bar.sass{
  background-color: #ce4dd6;
}


.other-graph .bar.bootstrap.full{
  width: 45%;
}
.other-graph .bar.jquery.full{
  width: 50%;
}
.other-graph .bar.jade.full{
  width: 18%;
}
.other-graph .bar.less.full{
  width: 24%;
}
.other-graph .bar.sass.full{
  width: 24%;
}
.other-graph .bar.angular.full{
  width: 23%;
}
.other-graph .bar.grunt.full{
  width: 18%;
}
.other-graph .bar.modernizer.full{
  width: 14%;
}
.other-graph .bar.one{
  top: 175px;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.other-graph .bar.two{
  top: 225px;
  -webkit-transition-delay: .05s;
  -moz-transition-delay: .05s;
  -ms-transition-delay: .05s;
  -o-transition-delay: .05s;
  transition-delay: .05s;
}

.other-graph .bar.three{
  top: 275px;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -ms-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
}

.other-graph .bar.four{
  top: 325px;
  -webkit-transition-delay: .15s;
  -moz-transition-delay: .15s;
  -ms-transition-delay: .15s;
  -o-transition-delay: .15s;
  transition-delay: .15s;
}
.other-graph .bar.five{
  top: 375px;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -ms-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}
.other-graph .bar.six{
  top: 425px;
  -webkit-transition-delay: .25s;
  -moz-transition-delay: .25s;
  -ms-transition-delay: .25s;
  -o-transition-delay: .25s;
  transition-delay: .25s;
}
.other-graph .bar.seven{
  top: 475px;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -ms-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}
.other-graph .bar.eight{
  top: 525px;
  -webkit-transition-delay: .35s;
  -moz-transition-delay: .35s;
  -ms-transition-delay: .35s;
  -o-transition-delay: .35s;
  transition-delay: .35s;
}


/*.divider{
  width: 70%;
  height: 2px;
  margin: 40px auto;
  background-color: rgba(0,0,0,0.2);
}*/

.company{
  margin-top: 50px;
}

.company .service-date{
  font-size: 24px;
  color: #bbb;
  margin-left: 20px;
  line-height: 2em;
}
.company .company-logo{
  float: left;
}
.company .company-name{
  font-family: Gill Sans;
  font-size: 38px;
  line-height: 62px;
  color: #008AFF;
  margin-left: 20px;
}
.company blockquote{
  margin: 10px 0 0 0;
  text-indent: 100px;
  line-height: 2em;
  padding: 0 10px;
}

.resume{
  margin: 40px 0 0 40px;
}
.resume-icon{
  display: inline-block;
  position: relative;
  color: #fff;
  width: 44px;
  height: 64px;
  padding: 8px 0 0 6px;
  font-size: 58px;
  line-height: 12px;
  background-color: #5D9CEC;
}
.resume-icon:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: #4A89DC; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTUxMzEzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOTUxMzEzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(45deg,  #4A89DC 0%, #4A89DC 50%, #ffffff 50%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4A89DC), color-stop(50%,#4A89DC), color-stop(50%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #4A89DC 0%,#4A89DC 50%,#ffffff 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #4A89DC 0%,#4A89DC 50%,#ffffff 50%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #4A89DC 0%,#4A89DC 50%,#ffffff 50%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(45deg,  #4A89DC 0%,#4A89DC 50%,#ffffff 50%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4A89DC', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}

.resume-icon:after{
  content: 'PDF';
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  top: 8px;
  left: -8px;
  width: 28px;
  height: 18px;
  padding-left: 4px;
  background-color: #4A89DC;
}

.my-resume{
  display: inline-block;
  font-family: 'Magra';
  font-size: 32px;
  /*line-height: 2px;*/
  text-indent: 14px;
  color: #777;
  padding-top: 12px;
}

.vd{
  display: inline-block;
  width: 50%;
  /*text-align: right;*/
  font-family: 'Magra';
  font-size: 24px;
  /*line-height: 2px;*/
  text-indent: 14px;
  color: #777;
  padding-top: 12px;
  cursor: pointer;
}

.view:hover{
  color: #1aa1e1;
}

.download:hover{
  color: #5fb83c;
}


/*-------------------------------------------------
LAYOUT: ABOUT PAGE
-------------------------------------------------*/

.about-short{
  padding: 0 60px 0 20px;
}


.about-timeline{
  position: relative;
  width: 100%;
  margin: 50px 0 0 0;
  font-size: 18px;
}

.about-timeline .line-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.about-timeline .line-container:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(33%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
}

.about-timeline .line-container .line{
  width: 16%;
  height: 100%;
  margin: 0 auto;
  background: #CCC;
  box-shadow: inset -3px 0 5px -4px #000, -1px 0 #FFF;
}
.about-timeline .content-container{
  position: relative;
  padding: 30px 0 20px 70px;
  height: 100%;

}
.about-timeline .content{
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 14px 20px;
  background: rgb(244,244,244); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(240,240,240,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */
  min-height: 60px;
  box-shadow: 0 3px 15px -3px rgba(0,0,0,0.7);
  cursor: pointer;
  margin: 40px 0 0 0;
}
.about-timeline .content .bullet{
  content: '';
  position: absolute;
  top: 30px;
  left: -56px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 0;
  background-color: #ccc;
  box-shadow: inset -3px 0 5px -4px #000;
  cursor: pointer;
}
.about-timeline .content .bullet:after{
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 0;
  background-color: #fff;
  box-shadow: -3px 0 5px -4px #000;
  
}

.about-timeline .content-container .image{
  float: right;
  border-radius: 50%;
  width: 20%;
  height: auto;
}

.about-timeline .content-container .title{
  font-size: 24px;
  line-height: 28px;
  padding: 0 0 10px 0;
  text-indent: 12px;
  color: #1cba93;
}

.about-timeline .content-container .year{
  text-align: center;
  font-size: 28px;
}

.about-timeline .content-container .month{
  float: left;
  font-size: 14px;
  color: #fff;
  margin: 0px 0 0 0px;
  padding: 0 10px;
  border-radius: 20px;
  border: 2px solid #b82613;
  background: rgb(243,87,61); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzNTczZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYjJjMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(243,87,61,1) 0%, rgba(235,44,25,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,87,61,1)), color-stop(100%,rgba(235,44,25,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(243,87,61,1) 0%,rgba(235,44,25,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(243,87,61,1) 0%,rgba(235,44,25,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(243,87,61,1) 0%,rgba(235,44,25,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(243,87,61,1) 0%,rgba(235,44,25,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3573d', endColorstr='#eb2c19',GradientType=0 ); /* IE6-8 */
  box-shadow: inset 0 1px 0 0px rgba(255, 255, 255, 0.4);

}

.about-timeline .content:before{
  content: '';
  position: absolute;
  top: 20px;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgba(0,0,0,0.1);
}
.about-timeline .content:after{
  content: '';
  position: absolute;
  top: 22px;
  left: -17px;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 18px solid #f4f4f4;
}

/*-------------------------------------------------
LAYOUT: CONNECT PAGE
-------------------------------------------------*/

.location{
  font-size: 72px;
}

.map {
  position: relative;
  display: inline-block;
  float: right;
  margin: 0 20px 0 0;
}

.map img{
  width: 4em;
  height: auto;
}

.map-pointer {
  width: .6em;
  height: .8em;
  position: absolute;
  top: 18%;
  left: 42%;
  background-image: url('../../images/map-pointer.png');
  background-size: 100% 100%;
  -webkit-animation: hover 1.5s infinite ease-in-out;
  -moz-animation: hover 1.5s infinite ease-in-out;
  -ms-animation: hover 1.5s infinite ease-in-out;
  -o-animation: hover 1.5s infinite ease-in-out;
}
.map-desc{
  float: left;
  font-size: 0.2em;
  margin: 34px 0 0 0;
}
.map-desc h1{
  margin-top: 2.8em;
  font-size: 2em;
  color: #666;
}
.map-desc span{
  display: block;
  font-size: 1.3em;
  text-indent: 1em;
  margin-top: 1em;
}
@-webkit-keyframes hover {
  0% {
    top: 27%;
  }
  50% {
    top: 18%;
  }
  100% {
    top: 27%;
  }
}
.mail-skype-heading{
  text-align: center;
  margin: 60px 0 0 0;
  font-size: 1.4em;
  font-family: 'Cantora One';
  color: #666;
}
.mail-skype{
  margin: 50px 0;
}
.gmail{
  position: relative;
  float: left;
  padding: 12px 12px 8px 18px;
  font-size: 20px;
  text-decoration: none;
  color: #FFF;
  margin-left: 30px;
  margin: 14px 0;
  background-color: #E04C40;
  border-radius: 24px;
}
.gmail span{
  padding: 5px 18px;
  background-color: #FFF;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 6px;
}
.gmail span:after{
  content: '';
  position: absolute;
  top: 3px;
  left: 14px;
  width: 0px;
  height: 0px;
  border-left: 28px solid rgba(0, 0, 0, 0);
  border-right: 28px solid rgba(0, 0, 0, 0);
  border-top: 25px solid #e04c40;
}
.gmail:after{
  content: '';
  position: absolute;
  top: 5px;
  left: 22px;
  width: 0px;
  height: 0px;
  border-left: 20px solid rgba(0, 0, 0, 0);
  border-right: 20px solid rgba(0, 0, 0, 0);
  border-top: 16px solid #FFF;
}

.skype{
  position: relative;
  float: right;
  padding: 14px 10px 10px 18px;
  font-size: 20px;
  text-decoration: none;
  color: #FFF;
  background-color: #08A6E8;
  border-radius: 24px;
  margin: 14px 0;
}
.skype span{
  float: right;
  margin: 0px 4px 0 4px;
  font-size: 34px;
  line-height: 0.5;
  padding-top: 0px;
}

.myworks-heading{
  text-align: center;
  font-size: 1.4em;
  margin: 40px 0;
  font-family: 'Cantora One';
  color: #666;
}
.myworks{
  margin: 60px 0;
}
.codepen, .github, .bitbucket{
  display: inline-block;
  position: relative;
  width: 32%;
  padding-left: 50px;
  font-size: 24px;
  color: #999;
  vertical-align: top;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.codepen:after{
  content: '';
  width: 34px;
  height: 34px;
  position: absolute;
  top: -4px;
  left: 6px;
  background-image: url('../../images/codepen_logo.png');
}
.github{
  padding-left: 20px;
}
.github span{
  color: #222;
}

.bitbucket:after{
  content: '';
  width: 30px;
  height: 34px;
  position: absolute;
  top: -6px;
  left: 12px;
  background-image: url('../../images/bitbucket_logo.png');
  background-size: 
}

.social-heading{
  font-family: 'Cantora One';
  color: #666;
  text-align: center;
  font-size: 1.4em;
  margin: 30px 0;
}

.social{
  padding: 40px 0;
  text-align: center;
  font-size: 42px;
}
.social a{
  text-decoration: none;
  margin: 0 6%;
}
.social .fb{
  color: #3a5b9a;
}
.social .tr{
  color: #08A6E8;
}
.social .gp{
  color: #d85333;
}
.social .in{
  color: #005a87;
}

/*-------------------------------------------------
LAYOUT: BLOG PAGE
-------------------------------------------------*/

.under-construction{
  width: 98%;
  min-height: 200px;
  margin: 70px auto;
  background-color: #000;
  border-radius: 10px;
}
.under-construction .icon{
  float: left;
  margin: 20px;
  font-size: 7em;
  color: #E9DB00;
  line-height: 1.2em;
}
.under-construction h2{
  color: #fff;
  font-size: 1.8em;
  line-height: 2.8em;
  text-align: center;
}
.under-construction .checkback{
  color: #fff;
  font-size: 1.8em;
  line-height: 2.8em;
  text-align: center;
}