@media all and (max-width: 1600px) and (min-width: 1367px) {
  /* line 5, ../mediaqueries.scss */
  body .nav-block, body .body-block {
    margin-left: 5%;
  }
}
@media all and (max-width: 1366px) and (min-width: 1280px) {
  /* line 14, ../mediaqueries.scss */
  body .nav-block, body .body-block {
    margin-left: 3%;
  }
  /* line 17, ../mediaqueries.scss */
  body .body-block-content {
    width: 600px;
  }
}
@media all and (max-width: 1279px) {
  /* line 25, ../mediaqueries.scss */
  body .nav-block, body .body-block {
    margin-left: 7%;
  }
  /* line 28, ../mediaqueries.scss */
  body .aside-block {
    position: relative;
  }
}
@media all and (max-width: 1080px) {
  /* line 36, ../mediaqueries.scss */
  body .nav-block {
    margin-left: 5%;
    width: 240px;
  }
  /* line 40, ../mediaqueries.scss */
  body .body-block {
    margin-left: 5%;
    padding-left: 270px;
  }
}
@media all and (max-width: 920px) {
  /* line 49, ../mediaqueries.scss */
  body .nav-block {
    margin: 0px;
    width: 200px;
  }
  /* line 53, ../mediaqueries.scss */
  body .body-block {
    margin: 0px;
    padding-left: 220px;
  }
}
@media all and (max-width: 830px) {
  /* line 62, ../mediaqueries.scss */
  body .nav-block {
    position: relative;
    margin-left: 7%;
    width: 600px;
  }
  /* line 67, ../mediaqueries.scss */
  body .body-block {
    padding-left: 7%;
  }
  /* line 70, ../mediaqueries.scss */
  body .body-block-content {
    width: 600px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
}
@media all and (max-width: 675px) {
  /* line 79, ../mediaqueries.scss */
  body .nav-block {
    margin-left: 1%;
    width: 540px;
  }
  /* line 83, ../mediaqueries.scss */
  body .body-block {
    padding-left: 1%;
  }
  /* line 86, ../mediaqueries.scss */
  body .body-block-content {
    width: 540px;
  }
}
@media all and (max-width: 580px) {
  /* line 94, ../mediaqueries.scss */
  body .nav-block {
    margin: 0;
    width: 480px;
  }
  /* line 98, ../mediaqueries.scss */
  body .body-block {
    padding: 0;
    margin: 0;
  }
  /* line 102, ../mediaqueries.scss */
  body .body-block-content {
    width: 480px;
  }
}
@font-face {
  font-family: 'Icons';
  src: url("../../fonts/icomoon.ttf") format("truetype"), url("../../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 11, ../main.scss */
.container {
  background-color: #eaeaea;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 1em;
}
/* line 16, ../main.scss */
.container .icon {
  font-family: "Icons";
}

/* line 21, ../main.scss */
.nav-block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 24px;
  margin-left: 11%;
  width: 300px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-size: 2.5em;
  color: #888;
  line-height: 1.4em;
}
/* line 40, ../main.scss */
.nav-block .nav-block-inner .nav-block-content {
  font-family: 'Cabin Condensed';
}
/* line 42, ../main.scss */
.nav-block .nav-block-inner .nav-block-content .main-nav-list {
  font-size: 28px;
}

/* line 49, ../main.scss */
.body-block {
  margin: 24px;
  margin-left: 11%;
  padding-left: 330px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* line 56, ../main.scss */
.body-block-content {
  position: relative;
  display: inline-block;
  padding: 40px;
  max-width: 660px;
  min-height: 1700px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* line 69, ../main.scss */
.aside-block {
  display: inline-block;
  position: absolute;
  top: 24px;
  min-width: 300px;
  max-width: 300px;
  min-height: 600px;
  padding-left: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ccc;
}
