@media all and (max-width: 1599px) {
  body .nav-block, body .body-block {
    margin-left: 5%;
  }
  body .body-block-content {
    width: 600px;
  }
  body .location{
    font-size: 62px;
  }
}
@media all and (max-width: 1346px){
  body .nav-block{
    margin-left: 3%;
    width: 210px;
  } 
  body .body-block {
    margin-left: 3%;
    padding-left: 240px;
  }
  body .body-block-content {
    width: 580px;
  }
}

@media all and (max-width: 1199px) {
  body .nav-block {
    width: 240px;
  }
  body .body-block {
    padding-left: 270px;
  }
  body .body-block-content {
  }
  body .aside-block {
    position: relative;
  }
}
@media all and (max-width: 1080px) {
  body .nav-block {
    margin-left: 3%;
    width: 240px;
  }
  body .body-block {
    margin-left: 3%;
    padding-left: 270px;
  }
}
@media all and (max-width: 920px) {
  body .nav-block {
    margin: 0px;
    width: 200px;
  }
  body .body-block {
    margin: 0px;
    padding-left: 220px;
  }
  body .body-block-content {
    width: 560px;
  }
}
@media all and (max-width: 830px) {
  body .nav-block {
    position: relative;
    margin-left: 4%;
    width: 640px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  body .body-block {
    padding-left: 4%;
  }
  body .body-block-content {
    width: 600px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
}
@media all and (max-width: 675px) {
  body .nav-block {
    margin-left: 1%;
    width: 580px;
  }
  body .body-block {
    padding-left: 1%;
  }
  body .body-block-content {
    width: 540px;
  }
}
@media all and (max-width: 590px) {
  body .nav-block {
    margin: 0;
    width: 480px;
  }
  body .body-block {
    padding: 0;
    margin: 0;
  }
  body .body-block-content {
    width: 440px;
  }
}
