@media all and (max-width: 1599px) {
  body .nav-block{
    margin-left: 5%;
  }
  body .body-block {
    margin-left: 5%;
    padding-left: 200px;
  }
  body .body-block-content {
    /*width: 600px;*/
  }
  body .location{
    font-size: 62px;
  }
  body .nav-block{
    margin-left: 3%;
    width: 210px;
  }
  body .nav-block .nav-block-content .main-my-name{
    padding: 18px;
    font-size: 2.2em;
  }
  body .nav-block .nav-quotes{
    display: none;
  }
}
@media all and (max-width: 1346px){
/*  body .nav-block{
    margin-left: 3%;
    width: 210px;
  } */
  body .nav-block {
    margin: 0px;
    width: 200px;
  }
  body .body-block {
    margin: 0px;
    padding-left: 220px;
  }
  body .body-block-content {
    width: 640px;
  }
}

/*@media all and (max-width: 1199px) {
  body .nav-block {
    width: 240px;
  }
  body .body-block {
    padding-left: 270px;
  }
  body .aside-block {
    position: relative;
  }
  body .nav-block .nav-quotes{
    display: block;
  }
}
@media all and (max-width: 1080px) {
  body .nav-block {
    margin-left: 3%;
  }
  body .body-block {
    margin-left: 3%;
  }
}*/
@media all and (max-width: 939px) {
  body .body-block-content {
    width: 600px;
  }
}
@media all and (max-width: 880px) {
  body .nav-block {
    position: relative;
    margin: 0 auto;
    width: 640px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  body .body-block {
    padding-left: 0;
    width: 640px;
    margin: 0 auto;
  }
  body .body-block-content {
    width: 600px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  body .body-nav{
    display: none;
  }
  body .show-menu{
    display: block;
  }
  .main-nav-list{
    height: 0;
  }
}
@media all and (max-width: 675px) {
  body .nav-block {
    width: 580px;
  }
  body .body-block {
    width: 580px;
  }
  body .body-block-content {
    width: 540px;
  }
}
@media all and (max-width: 590px) {
  body .nav-block {
    width: 480px;
  }
  body .body-block {
    width: 480px;
  }
  body .body-block-content {
    width: 440px;
  }
}
