.imprima {
  font-family: 'Imprima';
  line-height: 1.8em;
  font-size: 1.2em;
  color: #343434;
}

.oxygen {
  font-family: 'Oxygen';
  line-height: 1.8em;
  font-size: 1.2em;
  color: #343434;
}

.raleway {
  font-family: 'Raleway';
  line-height: 1.8em;
  font-size: 1.2em;
  color: #343434;
}

.imprima b, .oxygen b, .raleway b {
  font-family: 'Oxygen';
  font-weight: bold;
  color: #000;
}

.heading1 {
  font-family: 'Cantora One';
  font-size: 2em;
}

.heading2 {
  font-family: 'Roboto Condensed';
  font-size: 2em;
}

.heading3 {
  font-family: 'Magra';
  font-size: 2em;
}

.chart-line{
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 20px;
  border-radius: 4px;
  margin: 20px 0;
}
.chart-line::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 30%;
  top: 2px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 4px 4px 0 0;
}

.chart-line.one{
  background-color: #b3c833;
}
.chart-line.two{
  background-color: #ce5043;
}
.chart-line.three{
  background-color: #fb8521;
}
.chart-line.four{
  background-color: #1aa1e1;
}
.chart-line.five{
  background-color: #5e5ca6;
}
.chart-line.six{
  background-color: #658092;
}
.chart-line.seven{
  background-color: #c8335a;
}
.chart-line.eight{
  background-color: #33c8aa;
  /*border: 2px solid #2cb196;*/
}
.chart-line.nine{
  background-color: #d7781c;
}
.chart-line.ten{
  background-color: #ec422c;
}
/*
Checkered Background


background-color:#269;
background-image: linear-gradient(rgba(255,255,255,.3) 2px, transparent 2px),
linear-gradient(90deg, rgba(255,255,255,.3) 2px, transparent 2px);
background-size:20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px;
background-repeat: repeat;

*/

.body-inner{
  padding: 20px 0;
}
.page-title{
  display: inline-block;
  position: relative;
  font-size: 28px;
  line-height: 32px;
  padding: 0 0 10px 32px;
  margin-bottom: 10px;
  color: #666;
}
.page-title:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
}
.page-title.home:after{
  background-color: #b3c833;
}
.page-title.about:after{
  background-color: #ce5043;
}
.page-title.work:after{
  background-color: #fb8521;
}
.page-title.labs:after{
  background-color: #1aa1e1;
}
.page-title.connect:after{
  background-color: #5e5ca6;
}
.page-title.blog:after{
  background-color: #658092;
}

.body-nav{
  float: right;
  position: relative;
  width: 54px;
  height: 104px;
  font-family: 'Icons';
  color: white;
  font-size: 28px;
  text-align: center;
  margin: 0px 0 0 0;
  z-index: 1;
}
.body-nav:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 0;
  height: 0;
  border-top: 28px solid #acc030;
  border-right: 28px solid transparent;
}
.body-nav:after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -28px;
  width: 0;
  height: 0;
  border-top: 28px solid #acc030;
  border-left: 28px solid transparent;
}
.body-nav div{
  position: absolute;
  top: 6px;
  left: 6px;
  width: 38px;
  height: 88px;
  background-color: #acc030;
  border-left: 2px dashed white;
  border-right: 2px dashed white;
  line-height: 3.2em;
}
.body-nav div:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid #acc030;
  border-right: 20px solid transparent;
  z-index: 1;
}
.body-nav div:after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid #acc030;
  border-left: 20px solid transparent;
  z-index: 1;
}
.body-nav.home{
  background-color: #acc030;
}

.body-nav.about{
  background-color: #c8483b;
}
.body-nav.about div{
  background-color: #c8483b;
}
.body-nav.about:before{
  border-top-color: #c8483b;
}
.body-nav.about:after{
  border-top-color: #c8483b;
}
.body-nav.about div:before{
  border-top-color: #c8483b;
}
.body-nav.about div:after{
  border-top-color: #c8483b;
}

.body-nav.work{
  background-color: #f4801f;
}
.body-nav.work div{
  background-color: #f4801f;
}
.body-nav.work:before{
  border-top-color: #f4801f;
}
.body-nav.work:after{
  border-top-color: #f4801f;
}
.body-nav.work div:before{
  border-top-color: #f4801f;
}
.body-nav.work div:after{
  border-top-color: #f4801f;
}

.body-nav.labs{
  background-color: #1499d8;
}
.body-nav.labs div{
  background-color: #1499d8;
}
.body-nav.labs:before{
  border-top-color: #1499d8;
}
.body-nav.labs:after{
  border-top-color: #1499d8;
}
.body-nav.labs div:before{
  border-top-color: #1499d8;
}
.body-nav.labs div:after{
  border-top-color: #1499d8;
}

.body-nav.connect{
  background-color: #545299;
}
.body-nav.connect div{
  background-color: #545299;
}
.body-nav.connect:before{
  border-top-color: #545299;
}
.body-nav.connect:after{
  border-top-color: #545299;
}
.body-nav.connect div:before{
  border-top-color: #545299;
}
.body-nav.connect div:after{
  border-top-color: #545299;
}

.body-nav.blog{
  background-color: #5b778a;
}
.body-nav.blog div{
  background-color: #5b778a;
}
.body-nav.blog:before{
  border-top-color: #5b778a;
}
.body-nav.blog:after{
  border-top-color: #5b778a;
}
.body-nav.blog div:before{
  border-top-color: #5b778a;
}
.body-nav.blog div:after{
  border-top-color: #5b778a;
}

.sample{
  display: block;
  width: 90%;
  /*height: 160px;*/
  background-color: #fafafa;
  box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.5);
  border: 1px solid #ddd;
  margin: 80px auto 0 auto;
  padding: 12px;
  cursor: pointer;
}

.sample img{
  float: right;
  border-radius: 14px;
  width: 25%;
  height: auto;
  margin: 0 0 0 14px;
}
.sample h2{
  text-indent: 24px;
  font-size: 24px;
  font-family: 'Imprima';
  font-weight: normal;
}
.sample blockquote{
  text-indent: 72px;
  padding: 10px 0;
  text-align: justify;
}
.sample .tags{
  clear: both;
  margin: 10px 0;
}

.sample .tag{
  position: relative;
  display: inline-block;
  border-radius: 8px;
  font-size: 14px;
  line-height: 24px;
  padding: 0 24px 0 10px;
  background-color: red;
  color: #fff;
  margin: 10px 0 0 0;
}

.sample .tag:before{
  content: '';
  position: absolute;
  right: 6px;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}

.labs-iframe{
  width: 100%;
  height: auto;
}

